<nav>
    <mat-toolbar>
        <mat-toolbar-row fxLayout="row" [fxLayoutAlign]="'center center'">
            <button
                *ngIf="show_home_button"
                mat-fab
                [extended]="!(small_bp$ | async)"
                aria-label="Back to Main Page"
                (click)="backToMainPage()"
            >
                <mat-icon>home</mat-icon>
                <span *ngIf="!(small_bp$ | async)">Back to Main Page</span>
            </button>
            <div *ngIf="!show_home_button">
                <input #searchInput type="text" placeholder="Search by Pokemon Name" (keyup.enter)="searchPokemon()" />
            </div>
            <!-- <div class="types" *ngIf="!show_home_button">
                <ng-container *ngIf="types$ | async as types">
                    <mat-chip
                        *ngFor="let type of types?.results || []"
                        disableRipple
                        class="mat-elevation-z2"
                        [style.background-color]="getBackgroundColorByType(type)"
                    >
                        {{ type?.name | titlecase }}
                    </mat-chip>
                </ng-container>
            </div> -->
        </mat-toolbar-row>
    </mat-toolbar>
</nav>
