<app-navigation-bar [show_home_button]="true"></app-navigation-bar>
<section
    [fxLayout]="smallerScreen ? 'column' : 'row'"
    class="content"
    [style.height]="smallerScreen ? 'auto' : 'calc(100% - 104px)'"
>
    <app-pokemon-detail [fxFlex]="smallerScreen ? undefined : 95"></app-pokemon-detail>
</section>
