@use '@angular/material' as mat;

@include mat.core();

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: #ccc;
    transition: background-color 0.3s ease-in-out;
}
