:host {
    height: 100%;
    padding: 2em;
    color: white;
}
section {
    height: 100%;
    width: 100%;
}
.pokemon-name {
    font-weight: 500;
    font-size: 3em;
    line-height: 1em;
}
.pokemon-size {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 1.2em;
    span {
        font-weight: 400;
    }
}
.pokemon-stats {
    font-weight: 500;
    font-size: 2em;
}
.stats-container {
    box-sizing: border-box;
}
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 24px;
    align-items: center;
    cursor: default;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}
.poke-img {
    max-width: 100%;
    object-fit: cover;
    width: fit-content;
}
