<section
    *ngIf="pokemon$ | async as dt"
    fxFlex
    [fxLayout]="(small_bp$ | async) ? 'column' : 'row'"
    fxLayoutAlign="center center"
>
    <mat-card class="poke-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title class="pokemon-name">
                    {{ dt?.name | titlecase }}
                </mat-card-title>
                <mat-card-subtitle>
                    <mat-chip-set>
                        <mat-chip
                            *ngFor="let type of dt.types"
                            disableRipple
                            class="mat-elevation-z2"
                            [style.background-color]="pokemon_type_color[type.type.name]"
                        >
                            {{ type?.type?.name | titlecase }}
                        </mat-chip>
                    </mat-chip-set>
                </mat-card-subtitle>
                <img
                    mat-card-md-image
                    [src]="dt?.sprites?.other?.['dream_world']?.front_default"
                    [draggable]="false"
                    crossorigin="anonymous"
                    class="poke-img"
                    alt="pokemon image"
                />
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p class="pokemon-stats">Dimensions:</p>
            <div class="stats-container">
                <div class="stats-container__dimensions">
                    <mat-chip-set>
                        <mat-chip disableRipple class="mat-elevation-z2"
                            >Weight: <span>{{ dt?.weight }}gram</span></mat-chip
                        >
                        <mat-chip disableRipple class="mat-elevation-z2"
                            >Height: <span>{{ dt?.height }}cm</span></mat-chip
                        >
                    </mat-chip-set>
                </div>
            </div>
            <p class="pokemon-stats">Base stats:</p>

            <div class="stats-container">
                <mat-chip-set>
                    <mat-chip *ngFor="let stat of dt?.stats || []" disableRipple class="mat-elevation-z2"
                        >{{ stat?.stat?.name | uppercase }}: {{ stat?.base_stat }}</mat-chip
                    >
                </mat-chip-set>
            </div>
        </mat-card-content>
    </mat-card>
</section>
