<app-navigation-bar></app-navigation-bar>
<section class="content" *ngIf="paging_data$ | async as pd">
    <div class="content-wrapper">
        <div class="poke-list">
            <div
                class="poke-list__items"
                fxLayoutAlign="start center"
                *ngFor="let pokemon of pd?.results || []; let idx = index; trackBy: trackByIndex"
                (click)="goToDetail(pokemon)"
            >
                <div class="poke-list__items__item">
                    <div class="poke-list__items__item__img">
                        <img
                            [src]="getImage(pokemon)"
                            [draggable]="false"
                            crossorigin="anonymous"
                            class="poke-img"
                            alt="pokemon image"
                        />
                    </div>
                    <div class="poke-list__items__item__name">
                        {{ pokemon?.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="paging_data$ | async as pd">
    <mat-paginator
        fxLayoutAlign="end center"
        [length]="pd?.count"
        [pageSize]="10"
        aria-label="Select page"
        (page)="handlePageEvent($event)"
        [pageIndex]="page > 1 ? page - 1 : 0"
        class="poke-list__paging"
    >
    </mat-paginator>
</section>
