.content {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-top: 20px;
}
.poke-list {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    margin: 0 30px;
    &__items {
        &__item {
            width: 220px;
            height: 321px;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
            transition: all 0.3s ease-out;
            text-decoration: none;
            margin: 10px 10px;
            cursor: pointer;
            &:hover {
                transform: translateY(-5px) scale(1.005) translateZ(0);
                box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
            }
            &__name {
                position: absolute;
                bottom: 20px;
                font-weight: 500;
                background: rgba(0, 0, 0, 0.4);
                padding: 5px 5px;
                border-radius: 5px;
                color: #fff;
            }
        }
    }
    &__paging {
        width: 100%;
        margin-bottom: 10px;
    }
}
::ng-deep {
    .poke-list__paging .mat-mdc-paginator-container {
        @media screen and (max-width: 768px) {
            justify-content: center;
        }
    }
}
